{% extends 'base.html' %}

{% block header %}
<header class="jumbotron jumbotron-fluid">
    <div class="container p-5">
        <h1 class="display-4 mb-3">選手リスト</h1>
        <p class="lead">現在、東京大学運動会水泳部に所属している部員のリストです。</p>
        <p class="lead">新規登録の際は下の追加ボタンよりお願いします。</p>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="container">
<table class="table table-bordered">
    <tr>
        <th>姓</th>
        <th>名</th>
        <th>性別</th>
        <th>学年</th>
        <th>種別</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{item.last_name}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.sex}}</td>
        <td>{{item.grade}}</td>
        <td>{{item.member_type}}</td>
        <td><a href="{% url 'update' item.pk %}" class="text-secondary">編集</a></td>
        <td><a href="{% url 'delete' item.pk %}" class="text-secondary">削除</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create' %}" class="btn btn-primary float-right">+ 追加</a>
</div>
{% endblock content %}