{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block header %}
<header class="jumbotron jumbotron-fluid">
    <div class="container p-5">
        <h1 class="display-4 mb-3">タイムテーブル登録</h1>
        <p class="lead">試合のタイムテーブルを登録してください</p>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="suggestion">
        <form action="{% url 'shift:suggest' pk %}" method="POST" class="form-inline">{% csrf_token %}
            <label class="m-3">過去の試合データを参照</label>
            <select name="competition" class="form-control m-3">
                {% for s in suggest %}
                    <option value={{s.id}}>{{s.year}}{{s.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="表示" class="form-control m-3">
        </form>
    </div>
    <form action="{% url 'shift:register' pk %}" method="post" id="form" data-length="{{ object_list|length }}">
    {% csrf_token %}
    {{ formset.management_form }}
        <table class="table mt-5" id="table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>性別</th>
                    <th>距離</th>
                    <th>種目</th>
                    <th>開始時刻</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for item in object_list %}
                    
                    <tr class="field field-{{forloop.counter}}">
                        <td>{{forloop.counter}}</td>
                        <td>
                            <select name="sex" id="id_sex" class="form-control">
                            {% for p,q in formset.form.fields.sex.choices %}
                                {% if item.event.sex == p %}
                                    <option value="{{p}}" selected>{{q}}</option>
                                {% else %}
                                    <option value="{{p}}">{{q}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="distance" value="{{item.event.distance}}" class="form-control" required id="id_distance">
                        </td>
                        <td>
                            <select name="style" id="id_style" class="form-control">
                            {% for p,q in formset.form.fields.style.choices %}
                                {% if item.event.style == p %}
                                    <option value="{{p}}" selected>{{q}}</option>
                                {% else %}
                                    <option value="{{p}}">{{q}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="start_time" value="{{item.start_time|date:"h:i"}}" class="form-control" required id="id_start_time">
                        </td>
                        <td></td>
                        <td>
                            <div class="form-delete" id="form_delete">
                                <span class="delete btn btn-danger" title="Delete" data-count="{{forloop.counter}}">×</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr class="form-empty field field-{{object_list|length|add:"1"}}">
                <td>{{object_list|length|add:"1"}}</td>
                {% for field in formset.form %}
                    <td>
                        {{field|add_class:"form-control"}}
                    </td>
                {% endfor %}
                <td></td>
                <td>
                    <div class="form-delete" id="form_delete">
                        <span class="delete btn btn-danger" title="Delete" data-count="{{object_list|length|add:"1"}}">×</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="form-add" id="form_add">
                        <span class="add btn btn-info" title="Add">+</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div>
                        <input type="submit" value="登録" class="form-control">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>


{% endblock content %}

{% block script %}
<script>
    $(function () {
        $(document).on('click', 'span.add', function () {
            frm_emp = $(".form-empty").last();
            frm_nxt = frm_emp.clone();
            frm_nxt.insertAfter(frm_emp);
        })

        $(document).on('click', 'span.delete', function () {
            cnt = $(this).data("count");
            $('.field-' + cnt).remove();
        })

        $('#form').submit(function() {  // フォームを送信する直前

            // フォームの入力欄の数を指定する
            const text = $('.field');
            console.log(text);
            $('[name=form-TOTAL_FORMS]').val(text.length);

            // それぞれの入力欄の__prefix__をindexで置換する
            text.each(function(index, element){
                html = $(element).html().replace(/__prefix__/g, index);
                value_sex = $(element).find("[name='sex']").val();
                value_dist = $(element).find("input[name='distance']").val();
                value_style = $(element).find("[name='style']").val();
                value_time = $(element).find("input[name='start_time']").val();   // valueが消えるので保存しておく
                $(element).html(html);
                $(element).find("[name='sex']").val(value_sex);
                $(element).find("input[name='distance']").val(value_dist);
                $(element).find("[name='style']").val(value_style);
                $(element).find("input[name='start_time']").val(value_time);
        });

    });
    })
    </script>
{% endblock script %}